@model Student
@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <partial name="PartialViews/DetailsStudentPartialView" />
    <a asp-action="Index" class="btn btn-info">Back To List </a>
</div>
